# === Python ===
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
.env
.env.*

# === Jupyter Notebooks ===
.ipynb_checkpoints/

# === VS Code / OS ===
.vscode/
.DS_Store

# === Datos locales temporales ===
data/processed/*
reports/figures/*
